*{
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: center;
}
model-viewer{
  height: 70vh;
  width: 100%;
  
}
model-viewer:focus{
  border: none;
}

#ar-button{
  position: fixed;
  width: 60%;
  right: 20%;
  bottom: 7%;
  background-color: #6e48aa;
  border-radius: 20px;
  padding: 5px 1px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.btnAR{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.rsc{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
