*{
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

.App {
  text-align: center;
}
model-viewer{
  height: 75vh;
  width: 100%;
  
}
model-viewer:focus{
  border: none;
}
.TituloLocal{
  height: 10vh;
  margin-bottom: 10px;
}
#ar-button{
  position: fixed;
  width: 60%;
  right: 20%;
  bottom: 15vh;
  background-color: #6e48aa;
  border-radius: 20px;
  padding: 5px 1px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.rsc{
  display: flex;
  justify-content: center;
}

h1, h3 {
  margin: 0;
}
.leaflet-container, .leaflet-touch{
  width: 100%;
  height: 80vh;
}